**/node_modules/

**/.env**
**/credentials.json
**/translations.json
**/token.json
**/configmap-api.yaml
**/configmap-tuinbouw.yaml

infrastructure/kubernetes/configmap-api.yaml
infrastructure/kubernetes/configmap-tuinbouw.yaml
